.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
  color: white;
  padding: 20px;
  border-radius: 5px;
  height: 100vh;
  font-size: 2em;
  font-weight: 500;
}

.icon {
  margin-right: 10px;
}
